/* for font family  */
@import url('https://fonts.googleapis.com/css2?family=Inter+Tight:wght@600&family=Merriweather:wght@400;700;900&family=Open+Sans:ital,wght@0,700;0,800;1,700&family=Work+Sans:wght@400;600;700&display=swap');
 
/* shared style  */
* {
    font-family: 'Work Sans', sans-serif;
}

.all-description-text-color{
    color: var(--Dark-03, #727272);
}
/* main{
    margin-left:16rem ;
    margin-right: 16rem;
} */
.btn-primary {
    width: 180px;
    height: 64px;
    border-radius: 8px;
    background: #FF900E;
    border: 0;
    color: #FFF;
    text-align: center;
    font-size: 1.25rem;
    font-weight: 600;
    padding: auto;
    cursor: pointer;
    
}
/* .btn-primary :hover{
    background-color: green;
} */
.section-title {
    color: var(--Dark-01, #131313);
    font-size: 3rem;
    /* font-size: 45px; usaly root er font size 16 hoy tai eita jehetu 45px tai eta 3rem */
    font-weight: 700;
    margin-bottom: 20px;   
}

/* header style  */
header {
    background: rgba(255, 144, 14, 0.10);
    padding: 50px 240px;
}

nav {
    display: flex;
    justify-content: space-between;
    /* horyzontal center e niye aste hole nicher commund*/
    align-items: center;

}



nav>ul {
    display: flex;
}

nav li {
    list-style: none;
    margin-right: 30px;

    font-size: 18px;

    font-weight: 500;
    line-height: 26px;
    /* 144.444% */
}

nav li a {
    text-decoration: none;
    color: var(--Dark-02, #424242);

}

/* banner style  */

.banner-content {
    max-width: 800px;
    text-align: center;
    margin: 0 auto;
}

.banner-title {
    font-size: 3.5rem;
    font-weight: 700;
    color: #131313;
}

/* .banner-description {
    color: var(--Dark-03, #727272);
    font-size: 16px;
    font-weight: 400;

} */

.banner-pic {
    margin-top: 20px;
    width: 100%;
}

/* main style  */

main {
    max-width: 1440px;
    margin: 0 auto;
}

/* teams style  */
.teams-container {
    margin-top: 60px;
    display: flex;
    align-items: center;
}

.teams-img-container {
    margin-left: 5rem ;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1.5rem;
}

.teams-content {
    padding-right: 70px;
    padding-left: 70px;
}

.teams-title {
    font-size: 3rem;
}

.quick-list {
    color: var(--Dark-03, #727272);
    font-weight: 500;
}

.our {
    color: var(--Dark-01, #131313);
    font-weight: 700;
}

.text-feature {
    color: #FF900E;
    font-weight: 700;
}

/* item style end  */

/* feature  style  */
.feature-picture-togather{
    display: flex;
    margin-top: 5rem;
   
    
}

.inline{
    display: flex;
}
.line{
   
    margin-top: 40px;
    margin-right:10px ;
    width: 5px;
height: 60px;
background: #FF900E;
}
.feature-card{
    padding: 30px;
    width: 40rem;
height: 10rem;
border-radius: 8px;
background: #FFF;
box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.06);
margin-bottom: 1.4rem;
margin-right: 2rem;

}

.feature-card>h4{
    font-weight: 600;
    font-size: 1.25rem;
    color: #131313;
    margin-bottom: 10px;
}
.feature-pic>img{
    width:auto;
    height: 70rem;
    margin-right: 2rem;
}
.featur-btn{
    width:15rem;
height: 8rem;
border-radius: 8px;
padding: 2.6rem;
margin-right: 15rem;
position: relative;
bottom: 100px;
}
#year{
    color: #FFF;
text-align: center;
font-size: 2rem;
font-weight: 700;

}

/* fact style  */
.facts-card-container{
    display: flex;
    gap: 5rem;
    justify-content: space-around;

}
.content-box{
    width: 40rem;
}
.card{
    height: 15rem;
    width: 15rem;
    border-radius: 8px;
border: 1px solid #FF900E;
text-align: center;

}
.card>img{
    width: 2.7rem;
    height: 2.7rem;
  margin-top: 3rem;
}
.card-stats{
    font-size: 2.9rem;
    font-weight: 600;
    margin-top: .8rem;
    margin-bottom: .5rem;
    color: var(--Dark-02, #424242);
}
.card-title{
    color: var(--Dark-03, #727272);
font-size: 1.3rem;
font-weight: 600;
}

/* sponsor style  */
.sponsor{
    text-align: center;
}
.sponsors-img-container{
    display: flex;
    justify-content: space-evenly;
    margin-top: 50px;
}
.sponsors-img-container img{
    width: 165px;
}

/* footer style  */
footer{
    width: 1440px;
height: 100px;
border-radius: 8px;
background: #FFF4E7;
display: flex;
align-items: center;
justify-content: space-evenly;
/* text-align: ce; */

margin: 100px auto;

}
/* responsive style  */

@media screen and (max-width:576px) {
    header {
        padding: 20px;
    }

    nav,
    .teams-container ,
    .facts-card-container,
    .feature-picture-togather,
.sponsors-img-container,footer
   {
        flex-direction: column;
    }
    .teams-img-container{
        grid-template-columns: repeat(1,1fr);
        width:80%;
        margin-left: 10px;
    }
    .teams-content,.facts-card-container{
        padding-left: 20px;
        padding-right: 20px;
    }
    .facts-card-container{
        gap: 20px;
    }
    .feature-card{
        width: auto;
    }
    .feature-pic>img{
       width: auto;
       height: 37rem;

    }
    .card{
        width: 100%;
    }
    .content-box{
        width: 100%;
    }
    .line{
        height:8rem ;
    }
    .sponsors-img-container{
        gap: 50px;
        align-items: center;
    }
    footer{
        width: auto;
        justify-content: space-evenly;
    }
    main{
        margin-left: 2rem;
    }
}

/* mediam devices  */
@media screen and (min-width:576px) and (max-width:992px) {
    nav,.teams-container, .feature-picture-togather,.sponsors-img-container,footer{
        flex-direction: column;
    }
    .sponsors-img-container{
        gap: 50px;
       align-items: center;
    }
    header {
        padding: 50px;
    }
    main{
        margin-left: 2rem;
    }
    .line{
        height:8rem ;
    }
    footer{
        width: auto;
        justify-content: space-evenly;
    }
}
